@import url(./inter.less);

@font-face {
  font-family: 'ZSFT-ENMin-553';
  src:
    url('https://fontsapi.zeoseven.com/553/main.woff2') format('woff2'),
    url('https://fontsapi-storage.zeoseven.com/553/main.woff2') format('woff2');
  unicode-range:
    U+0061-007A, U+0041-005A, U+0030-0039, U+002E, U+002C, U+0021, U+003F,
    U+003A, U+003B, U+002D;
}

html {
  height: 100%;
  overflow: hidden; // The content of the DatasetSettings page is too high, which will cause scroll bars to appear on the html tags. Setting the maximum height in DatasetSettings does not work either. I don't understand.
}

body {
  font-family: 'ZSFT-ENMin-553', Inter, sans-serif;
  font-weight: normal;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.ant-app {
  height: 100%;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(219, 218, 218);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
